doctype html
html(lang="en")
  head
    title=document.title
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Source+Sans+Pro:400,700", rel="stylesheet")
    link(rel='stylesheet', type='text/css', href=`css/${document.filename}`)
    link(rel='stylesheet', type='text/css', href='css/docs.css')
  body
    header.site
      h1.logo
        img(src='img/hd-logo.svg', alt=document.title)
      h2 A simple CSS library.
    nav: ul
      each file in document.files
        if file.current
          li.current=file.title
        else if file.first
          li: a(href='index.html')=file.title
        else
          li: a(href=`${file.filename}`)=file.title


    .components
      each component in document.components
        .component
          h2=component.name
          .details=component.description
          .component-demo!=component.markup
          pre.html=component.markup
          pre.css
            code=component.css
